<% layout('/layouts/boilerplate') %> 
    
    <h1>Random Numbers Home Page</h1>
    <p>This small express web application generates random numers 1-10 and states whether the random number is even or odd.</p>
    